.calendarCard {
    flex-direction: column;

    font-family: GST-Med;
}

.calendarCard .month {
    width: 100%;
    min-height: 25px;

    background: linear-gradient(to bottom, #fa4c5b, red);
    color: white;

    font-size: 14px;

    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    transform: translateZ(3px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarCard .calenDayNo {
    font-size: 42px;
    height: 50px;

    margin: 0;
    padding: 0;

    transform: translateZ(15px);
}

.calendarCard .calenDay {
    font-size: 11.5px;
    font-family: GST-Reg;
    height: 50px;

    margin-top: -3px;
    padding: 0;

    transform: translateZ(10px);
}