.shortcutCard {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.shortcutCard .collapseIcon {
    display: none;
}

.shortcutCard.rectCard .shortcuts {
    margin-left: 22px;
    gap: 6px;
}

.shortcutCard .shortcuts {
    width: 160px;
    height: min-content;
    flex-shrink: 0;

    margin-left: 98px;
    margin-right: 8px;
    margin-top: 2px;

    display: flex;
    gap: 6px;
    flex-wrap: wrap;

    transition: .2s;

    overflow: hidden;
}

.scApp {
    width: 32px;
    aspect-ratio: 1/1;

    font-size: 16px;

    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;

    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.scApp::after {
    content: '';
    width: 100%;
    height: 100%;

    background-color: white;
    opacity: 0;

    position: absolute;
}

.scApp:hover::after {
    opacity: .35;
}

.shortcutCard.squareCard .shortcuts .scApp:nth-of-type(3),
.shortcutCard.squareCard .shortcuts .scApp:nth-of-type(7) {
    margin-left: 5px;
}

#scaDeviantart {
    color: #00EAA6;
}