.shortcutCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcutCard.squareCard .collapseIcon {
    display: none;
}

.shortcutCard.rectCard .shortcuts {
    gap: 0px;
    width: fit-content;
    height: 77%;

    margin-left: auto;
    margin-top: 0;
    margin-right: 9px;

    border-radius: 10px;
    overflow: hidden !important;

    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.shortcutCard.rectCard .collapseIcon {
    font-size: 20px;
    display: flex;

    position: absolute;
    left: 13px;
    top: 12px;
}

.shortcutCard .shortcuts {
    width: 80px;
    height: min-content;
    flex-shrink: 0;

    margin-left: 18px;
    margin-right: 8px;
    margin-top: 6px;

    display: flex;
    gap: 6px;
    flex-wrap: wrap;

    transition: .2s;

    overflow: hidden;
}

.shortcutCard.rectCard .shortcuts .scApp {
    width: 40px;
    height: 100%;
    aspect-ratio: unset;
    border-radius: 0;
    font-size: 14px;
}

.scApp {
    width: 32px;
    height: 32px;

    font-size: 16px;

    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;

    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.squareCard .shortcuts .scApp:nth-of-type(5),
.squareCard .shortcuts .scApp:nth-of-type(6),
.squareCard .shortcuts .scApp:nth-of-type(7),
.squareCard .shortcuts .scApp:nth-of-type(8) {
    opacity: 0;
    pointer-events: none;
    height: 0;
}

.scApp::after {
    content: '';
    width: 100%;
    height: 100%;

    background-color: white;
    opacity: 0;

    position: absolute;
}

.scApp:hover::after {
    opacity: .35;
}

/* .shortcutCard.squareCard .shortcuts .scApp:nth-of-type(3),
.shortcutCard.squareCard .shortcuts .scApp:nth-of-type(7) {
    margin-left: 5px;
} */

#scaDeviantart {
    color: #00EAA6;
}