.editMode .wallCard::after {
    color: transparent;
}

.editMode .wallCard::after {
    bottom: 20px;
}

/*  */

.shelf.float .wallCard {
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 300px;
}

.shelf.float .wallCard::before {
    border-radius: 300px;
}

.wallCard {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;

    text-transform: capitalize;

    overflow: hidden;
    position: sticky;
    left: 7px;
    z-index: 10;

    width: 195px;
    height: 125px;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;

    transition-timing-function: ease;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);

    background-color: white;

    border-radius: 25px;
}

.wallCard::after {
    content: attr(data-wallSet);

    position: absolute;
    left: 18px;
    bottom: 20px;

    font-size: 12px;
    font-family: GST-Reg;
    color: white;

    opacity: 0;
    filter: blur(3px);

    transition: .3s;
}

.shelf:hover .wallCard::after {
    bottom: 40px;
    opacity: .75;
    filter: blur(0);
}

.wallCard:hover::after {
    transform: scale(1.5) translateY(-15px) translateX(10px) !important;
    font-family: GST-Med;
    opacity: 1 !important;
    filter: blur(0) !important;
}

.wallCard:hover .shelfLabel {
    opacity: 0;
}

.wallCard:active {
    transform: scale(.9);
}

.shelfLabel {
    width: 100%;
    height: 100%;

    background-color: transparent !important;
    color: white;
    border-radius: 10px;
    padding: 45px 10px 6px 45px;
    opacity: 0;

    font-size: 19px;
    font-family: GST-Med;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 0;
    z-index: -2;

    transition: .2s;
}

.shelfLabel::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(to left, transparent, black 80%);
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */

    transition: .2s;
}

.context-tooltip {
    opacity: 0;
    transition: .2s;
}

.wallCard:hover .context-tooltip {
    color: white;
    text-transform: none !important;
    font-size: 11px;
    font-family: GST-Med;

    opacity: .6;

    position: absolute;
    z-index: 11;
    bottom: 40px;
    left: 20px;
}

.context-tooltip::before {
    content: attr(data-touch);
}

.context-tooltip::after {
    content: attr(data-state);
}

.wallCard:hover .shelfLabel {
    color: transparent !important;
}

.wallCard:before {
    content: " ";
    position: absolute;
    z-index: -1;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wallCard .wallBtns {
    display: flex;
    flex-direction: column;

    opacity: 0;
    transition: opacity .2s;

    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-left: auto;
    margin-right: 10px;
    z-index: 6;
}

.wallBtns .wallBtn {
    border-radius: 10px;
    cursor: pointer;

    font-size: 13.5px;

    padding: 5px 10px;
    gap: 6px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.wallBtns .wallBtn::before {
    content: attr(data-btnName);
    font-size: 11px;
    opacity: .5;
}

@keyframes borderPulse {
    from {
        border: 3px solid rgba(235, 235, 235, 0.3);
    }

    to {
        border: 3px solid rgb(235, 235, 235);
    }
}