.editMode .wallCard {
    transform: scale(1) !important;
    filter: blur(5px);
}

/*  */

.shelf.compact .wallCard {
    width: 135px;
    height: 85px;

    border-radius: 17px;
}

.shelf.compact .wallCard::before {
    border-radius: 16px;
}


.wallCard {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;

    overflow: hidden;
    position: absolute;
    /* left: 15px; */
    z-index: 10;

    width: 195px;
    height: 125px;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;

    transition: .25s;
    transition-timing-function: ease;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.3);

    background-color: white;

    border-radius: 25px;
}

.wallCard.shExpanded {
    box-shadow: none;
}

.wallCard:before {
    content: " ";
    position: absolute;
    z-index: -1;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wallCard .wallBtns {
    display: flex;
    width: 100%;
    height: 50px;

    margin-top: auto;

    opacity: 0;
    transition: opacity .2s;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.wallCard .wallBtns .wallBtn {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(20px);

    font-size: 17px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes borderPulse {
    from {
        border: 3px solid rgba(235, 235, 235, 0.3);
    }

    to {
        border: 3px solid rgb(235, 235, 235);
    }
}