.weatherCard {
    background: linear-gradient(360deg, #0e63d1, rgb(92, 168, 255));
    color: white !important;
}

#weatherIcon {
    height: 90%;
    aspect-ratio: 1/1;

    transform: translateX(-6px);
}

.temp {
    font-size: 25px;
    font-family: GST-Med;
    transform: translateX(-10px);
}