.youtubeCard-browse {
    background: radial-gradient(rgb(235, 235, 235) 20%, rgb(255, 255, 255));

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    box-sizing: border-box;
    padding: 10px;
}

.youtubeCard-browse.squareCard::after {
    content: "Search YouTube";

    font-family: GST-Bold;
    font-size: 14px;
    position: absolute;

    bottom: 7px;
    left: 10px;
}

.darkModeOn .youtubeCard-browse.squareCard::after {
    color: white;
}


.darkModeOn .youtubeCard-browse {
    background: #0F0F0F;
}

.youtubeCard-browse .searchCont {
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateZ(15px);
}

.searchCont>i {
    position: absolute;
    left: 9px;

    color: rgb(255, 52, 52);

    /* color: white; */
}

.searchCont .ytSearch {
    width: 100%;
    height: 33px;
    border-radius: 50px;

    border: none;
    outline: none;
    font-size: 11px;

    padding-left: 32px;
    /* margin-left: 2px; */
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    transition: .15s;
}

.youtubeCard-browse.squareCard .searchCont .ytSearch::placeholder {
    opacity: 0;
}

.darkModeOn .youtubeCard-browse .searchCont .ytSearch {
    background-color: #212121;
    color: white;
}

.ytSearch:focus {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.youtubeCard-browse.squareCard .browseBtns {
    width: 0;
    overflow: hidden;
}

.browseBtns {
    display: flex;
    gap: 3px;
    transform: translateZ(15px);
}

.browseBtns .browseBtn {
    width: 51px;
    height: 38px;
    box-sizing: border-box;
    padding-bottom: 11px;

    background-color: rgba(255, 255, 255, 1);
    font-size: 11px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;
    transition: .15s;
}

.darkModeOn .youtubeCard-browse .browseBtns .browseBtn {
    background-color: #212121;
    color: white;
}

.browseBtn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.browseBtns .browseBtn::after {
    content: attr(data-btnLabel);

    position: absolute;
    bottom: 3px;
    font-size: 9px;
}