body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    /* background-image: url('https://source.unsplash.com/random/?wallpaper,neon'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: GST-Reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tvUI {
    width: 905px;
    height: 506px;

    overflow: hidden;
    position: relative;

    display: none;
    align-items: center;
    justify-content: center;

    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(1.5);
    border-radius: 0;

    /* transition: transform .2s; */
}

.tvUI.tvFS {
    /* transform: scale(.91) translateY(-15px); */
    width: 100vw;
    height: 100vh;
}

.nonView {
    /* This represents the overhang/bleed of the wallpaper.
       It wont be visible on the TV, only the tablet. */

    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 0;
    backdrop-filter: blur(150px);
    background-color: rgba(255, 255, 255, 0.05);
}

.nonView.nv2 {
    filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;

    transform: scale(1.03);

    width: 905px;
    height: 506px;
}

.backDrop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 60%, transparent 70%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 67%, transparent 75%);

    opacity: 1;

    width: 100%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
}

.backDrop.hidden {
    opacity: 0;
}

#cards {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: fit-content;
    height: fit-content;

    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px) saturate(6);

    transition: background-color .3s;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;

    transform: translateX(-50%);
    padding: 13px 16px;
    box-sizing: border-box;
}

#cards.darkModeOn,
.timeDate.darkModeOn {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    backdrop-filter: blur(100px) saturate(7);
}

.card {
    max-width: 150px !important;
    min-width: 150px !important;
    width: 190px;
    height: 90px;

    border-radius: 16px;
    background-color: white;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);

    transform: scale(0.95);
}

.weatherCard {
    background: linear-gradient(360deg, #0e63d1, rgb(92, 168, 255));
    color: white;
}

#weatherIcon {
    height: 90%;
    aspect-ratio: 1/1;

    transform: translateX(-8px);
}

.temp {
    font-size: 25px;
    font-family: GST-Med;
    transform: translateX(-12px);
}

.wallCard {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;
}

.card.active {
    transform: scale(1.04);
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.4);
    border: 3px solid rgb(235, 235, 235);

    /* animation-name: borderPulse; */
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.wallCard .info {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.75));
}

.info .wallName {
    font-size: 15px;
    font-family: GST-Med;

    margin-top: 40px;
    margin-left: 10px;
}

.info .wallAuth {
    font-size: 12px;
    margin-left: 10px;
}

@keyframes borderPulse {
    from {
        border: 3px solid rgba(235, 235, 235, 0.3);
    }

    to {
        border: 3px solid rgb(235, 235, 235);
    }
}

.batteryCard {
    background: linear-gradient(360deg, #47ad0c, #59e754);
    color: white;
    font-size: 22px;
    font-family: GSD-Bold;
}

.bcIndicator {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 64px;
    height: 35px;

    padding: 2px;
    margin: 0;
    margin-left: -.3%;

    border-radius: 10px;
    border: 3px solid white;
    box-sizing: border-box;

    position: relative;

    transform: scale(0.7);
}

.bcIndicator::after {
    content: "";
    width: 7px;
    height: 12px;

    border-radius: 3px;
    background-color: white;

    position: absolute;
    right: -8px;
}

.bciProg {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    background-color: white;
}

.chargingIcon {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
}

.clockCard {
    background-color: #1E1E1F;
}

#clockContainer {
    position: relative;
    margin: auto;
    /*to make the height and width responsive*/
    width: 50%;
    aspect-ratio: 1/1;
    background: url("clockback.png") no-repeat;
    /*setting our background image*/
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 1;
    background: #FF8E00;
}

.ytCard {
    display: none;
}

.timeDate {
    display: flex;
    align-items: flex-start;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px 0 0 16px;

    position: absolute;
    top: 15px;
    right: 0;

    height: 100px;
    min-width: 150px;

    padding-right: 30px;

    transition: .4s;

    overflow: hidden;
}

.timeDate.expanded {
    height: 212px;
}

#clockIcon {
    font-size: 30px;

    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 21px;
}

.date {
    font-size: 17px;
    opacity: .8;
}

.td {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70px;
    width: fit-content;
    font-family: GST-Med;
}

.expandToggle {
    position: absolute;
    top: 65px;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 35px;

    transition: top .4s;

}

.expandToggle.expanded i {
    transform: rotate(180deg);
}

.expandToggle i {
    transition: transform .3s;
}

.expandToggle.expanded {
    top: 178px;
    backdrop-filter: blur(20px) saturate(2);
}

.keys {
    width: 100vw;
    height: 100vh;

    border-radius: 5px;

    background-color: rgba(211, 211, 211, 0);

    overflow: hidden;

    position: absolute;
    z-index: 10000;
}

.keyLines {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    margin: auto;

    width: 200px;
    height: fit-content;
}

.keyTB {
    border: 1px solid grey;
    background-color: white;
    outline: none;

    font-family: GST-Reg;

    border-radius: 4px;
}

.keyTB.submit {
    width: 50% !important;
    margin: 0 auto;
    margin-top: 10px;
}

.controlBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1px;

    position: absolute;
    top: 70px;
    right: 0;

    height: 0;
    overflow: hidden;
    width: 100%;
    /* background-color: white !important; */
    transition: height .4s;
}

.timeDate.expanded .controlBtns {
    height: 115px;
}

.button {
    width: 181px;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    /* border-radius: 100px 0 0 100px; */

    font-size: 17px;
    color: rgb(0, 0, 0);

    padding-left: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    position: relative;
}

.button::before {
    content: attr(data-btnLabel);
    font-size: 11px;
    font-family: GST-Bold;

    position: absolute;
    left: 35px;
}

.button.darkModeOn {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

.button.darkModeOn::before {
    display: initial;
}