body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    /* background-image: url('https://source.unsplash.com/random/?wallpaper,neon'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: GST-Reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tvUI {
    width: 905px;
    height: 506px;

    overflow: hidden;
    position: relative;

    display: none;
    align-items: center;
    justify-content: center;

    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(1.5);
    border-radius: 0;

    transition: transform .2s;
}

.tvUI.tvFS {
    /* transform: scale(.91) translateY(-15px); */
    width: 100vw;
    height: 100vh;
}

.tvUI.tvFS .nv2 {
    transform: none;
    width: 100vw;
    height: 100vh;
}

.nonView {
    /* This represents the overhang/bleed of the wallpaper.
       It wont be visible on the TV, only the tablet. */

    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 0;
    backdrop-filter: blur(150px);
    background-color: rgba(255, 255, 255, 0.05);
}

.nonView.nv2 {
    filter: blur(15px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;

    transform: scale(1.03);

    width: 905px;
    height: 506px;
}

.backDrop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;

    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 60%, transparent 70%); */
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 67%, transparent 75%); */

    opacity: 1;

    width: 100%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
}

.backDrop.hidden {
    opacity: 0;
}

.cards {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;

    width: fit-content;
    max-width: calc(100vw - 40px);
    height: 95px;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px) saturate(6);

    transition: background-color .3s;

    overflow: visible;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    padding: 10px 2px 10px 5px;
    box-sizing: border-box;
}

.cards.darkModeOn,
.timeDate.darkModeOn,
.controlBtns.darkModeOn {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    backdrop-filter: blur(50px) saturate(7);
}

.card {
    width: 150px;
    height: 90px;
    flex-shrink: 0;

    border-radius: 16px;
    background-color: white;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);

    margin: 0 0 0 -5px;

    transform: scale(0.85);
    transform-origin: bottom center;
    transition: .25s;
    transition-timing-function: ease;
}

.card.active {
    transform: scale(1.075);
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.4);
    border: 3px solid rgb(235, 235, 235);

    margin: 0 15px 0 10px;
    border-radius: 600px;

    /* animation-name: borderPulse; */
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.weatherCard {
    background: linear-gradient(360deg, #0e63d1, rgb(92, 168, 255));
    color: white;
}

#weatherIcon {
    height: 90%;
    aspect-ratio: 1/1;

    transform: translateX(-8px);
}

.temp {
    font-size: 25px;
    font-family: GST-Med;
    transform: translateX(-12px);
}

.wallCard {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;
}

.wallCard .info {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.75));
}

.info .wallName {
    font-size: 15px;
    font-family: GST-Med;

    margin-top: 40px;
    margin-left: 10px;
}

.info .wallAuth {
    font-size: 12px;
    margin-left: 10px;
}

@keyframes borderPulse {
    from {
        border: 3px solid rgba(235, 235, 235, 0.3);
    }

    to {
        border: 3px solid rgb(235, 235, 235);
    }
}

.batteryCard {
    background: linear-gradient(360deg, #47ad0c, #59e754);
    color: white;
    font-size: 22px;
    font-family: GSD-Bold;
}

.batteryCard.square {
    max-width: 90px !important;
    min-width: 90px !important;
}

.bcIndicator {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 64px;
    height: 35px;

    padding: 2px;
    margin: 0;
    margin-left: -.3%;

    border-radius: 10px;
    border: 3px solid white;
    box-sizing: border-box;

    position: relative;

    transform: scale(0.7);
}

.bcIndicator::after {
    content: "";
    width: 7px;
    height: 12px;

    border-radius: 3px;
    background-color: white;

    position: absolute;
    right: -8px;
}

.bciProg {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    background-color: white;
}

.chargingIcon {
    color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
}

.clockCard {
    background-color: #1E1E1F;
}

#clockContainer {
    position: relative;
    margin: auto;
    /*to make the height and width responsive*/
    width: 90%;
    aspect-ratio: 1/1;
    background: url("clockback.png") no-repeat;
    /*setting our background image*/
    background-size: 100%;
}

#clockContainer::after {
    content: "";
    width: 5px;
    height: 5px;

    background-color: #1E1E1F;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 1;
    background: #FF8E00;
}

.emojiLocaleCard {
    font-size: 30px;
    background-color: pink;
}

.shortcutCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}

.shortcutCard .shortcuts {
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 4px;
    flex-wrap: wrap;
}

.scApp {
    width: 35px;
    aspect-ratio: 1/1;

    font-size: 19px;

    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.timeDate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    user-select: none;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;

    height: fit-content;
    width: fit-content;
    padding: 15px 15px 15px 10px;
    overflow: hidden;

    transition: .4s;
}

.time {
    font-size: 23px;
    width: max-content;
}

.date {
    font-size: 16px;
    opacity: .7;
    width: max-content;
}

.td {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    width: max-content;
    font-family: GST-Med;
}

.expandToggle {
    /* position: absolute; */
    /* top: 20px; */
    /* right: 34%; */
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;

    transition: top .4s, transform .2s;
}

.expandToggle:active {
    transform: scale(0.7) !important;
}

.expandToggle.expanded i {
    transform: rotate(135deg);
}

.expandToggle i {
    transition: transform .3s;
}

.keys {
    width: 100vw;
    height: 100vh;

    border-radius: 5px;

    background-color: rgba(211, 211, 211, 0);

    overflow: hidden;

    display: none;

    position: absolute;
    z-index: 10000;
}

.keyLines {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    margin: auto;

    width: 200px;
    height: fit-content;
}

.keyTB {
    border: 1px solid grey;
    background-color: white;
    outline: none;

    font-family: GST-Reg;

    border-radius: 4px;
}

.keyTB.submit {
    width: 50% !important;
    margin: 0 auto;
    margin-top: 10px;
}

.controlBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 7px;

    position: absolute;
    top: 103px;
    right: -200px;
    z-index: 9;

    height: 55px;
    width: fit-content;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 15px;

    padding: 15px 10px;
    pointer-events: none;

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    opacity: 0;

    /* transform: scale(.75); */
    /* transform-origin: right; */

    transition: transform .4s, right .25s, opacity .3s;
    transition-timing-function: ease-out;
}

.controlBtns.visible {
    transform: scale(1);
    opacity: 1;

    pointer-events: all;

    right: 20px;
}

.controlBtns .toggles {
    display: flex;
    gap: 3px;

    min-height: fit-content;
    scroll-snap-align: start;
}

.button {
    width: 73px;
    height: 25px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;

    font-size: 14px;
    color: rgb(0, 0, 0);

    padding-left: 8px;
    padding-top: 1px;
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;

    position: relative;
}

.button::before {
    content: attr(data-btnLabel);
    font-size: 10px;
    font-family: GST-Med;

    position: absolute;
    left: 28px;
}

.button.darkModeOn::before {
    display: initial;
}

.inputs {
    display: flex;
}

input[type="number"] {
    width: 40px !important;
}

.controlBtns .keyTB {
    background-color: rgba(14, 14, 14, 0.4);
    color: white;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;

    width: 140px;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.controlBtns .keyTB::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.debugCards {
    margin-top: 10px;
    color: white;
    font-size: 12px;

    margin-bottom: 40px;
    scroll-snap-align: start;

    display: flex;
    align-items: center;
    justify-content: center;
}