.topChromeItems {
    display: flex;
    width: fit-content;
    gap: 5px;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 98;
}

.topChromeItems.fve {
    opacity: 0 !important;
}

.topChromeItems>*:hover {
    z-index: 2;
}

.timeDate {
    display: flex;
    align-items: center;
    /* gap: 3px; */
    box-sizing: border-box;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;

    max-width: 290px;
    height: 46px;
    overflow: hidden;

    position: relative;
    z-index: 1;

    transition: .3s;
    user-select: none;
}

.timeDate.ccOpen {
    height: 50px;
    border-radius: 50px;
    transform: none !important;
}

body:has(.rolodex.visible) .timeDate {
    max-width: 0px;
    opacity: 0;
    margin-left: -5px;
}

.timeDate:not(.ccOpen):hover {
    transform: scale(1.075);
    transition-delay: 0s;

    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .25);
    color: rgb(0, 0, 0);
}

.timeDate:active {
    transform: scale(.9) !important;
    transition-delay: 0s;
}

.timeDate.static {
    transform: none !important;
}

.time {
    font-size: 20px;
    font-weight: 500;
    opacity: .75;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: max-content;
    box-sizing: border-box;
    flex-shrink: 0;

    /* background-color: orange; */
}

.timeDate.ccOpen .time {
    padding-right: 0;
}

.tdSep {
    height: 25px;
    width: 1px;
    flex-shrink: 0;
    opacity: .5;
    background-color: black;
    display: none;
}

.darkModeOn .tdSep {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: white;
}

.ccButtons {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: orange; */

    height: 100%;
    width: fit-content;
    max-width: 0px;
    opacity: 0;

    margin-left: auto;
    gap: 3px;
    border-radius: 500px;
    overflow: hidden;

    padding: 0;
    margin: 0;

    transition: .2s;
}

.timeDate.ccOpen .ccButtons {
    max-width: 180px;
    margin-right: 3px;
    border-radius: 0px;
    padding-left: 10px;

    opacity: 1;
}

.darkModeOn .ccb {
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgba(255, 255, 255, .75);
}

.ccb {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 42px;
    width: 42px;
    flex-shrink: 0;

    transition: .20s;

    font-size: 20px;

    border-radius: 50px;
    /* background-color: rgba(255, 255, 255, .5); */
    color: rgba(0, 0, 0, .8);
}

.ccb:active {
    transform: scale(.9);
}

.timeDate.ccOpen .ccb.selected,
.timeDate .ccb.dummy {
    background-color: var(--surface-button-l);
}

.timeDate:hover .ccb.dummy {
    background-color: var(--surface-button-l) !important;
    color: rgba(0, 0, 0, .8);
}

.timeDate.darkModeOn.ccOpen .ccb.selected,
.timeDate.darkModeOn .ccb.dummy {
    background-color: var(--surface-button-d);
}

.timeDate:has(.ccb:hover) .ccb.selected {
    background-color: transparent;
}

.ccb:hover {
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .75);
}

.ccb.dummy {
    pointer-events: none;
    width: 35px;
    height: 35px;
    font-size: 16px;
    margin-right: 5px;
    overflow: hidden;

    padding: 0 !important;
}

.ccb.dummy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeDate.ccOpen .ccb.dummy {
    width: 0;
    height: 0;
    margin-right: 0;
}

/* Greeting (welcome user) */

.greeting {
    display: flex;
    font-size: 19px;
    font-weight: 500;
    gap: 3px;

    position: absolute;
    top: 20px;

    padding: 10px 20px;
    border-radius: 100px;

    transition: .4s;
    transition-delay: 1s;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
}

.greeting.hidden {
    filter: blur(10px);
    opacity: 0;

    transform: translateY(-70px) scale(.75);
}

.greeting::before {
    content: "Good";
}

.greeting::after {
    content: attr(data-username);
}

/* About button & menu */

.contextBadge {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 20px; */

    position: absolute;
    top: 14px;
    left: 14px;
    height: 45px;
    width: fit-content;
    padding-left: 44px;
    padding-right: 14px;
    z-index: 999999992;

    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;

    background-color: var(--section-input-l);
    backdrop-filter: blur(50px) saturate(2) !important;
    user-select: none;

    transition: .15s;
    filter: blur(10px);
    opacity: 0;
    transform: scale(.75);
}

.contextBadge.darkModeOn {
    background-color: var(--section-input-d);
}

.contextBadge:active {
    transform: scale(.9);
}

.contextBadge.visible,
.contextBadge.fve,
body:has(.aboutOpts.visible) .contextBadge,
body:has(.controlPanel.expanded) .contextBadge,
body:has(.rolodex.visible) .contextBadge {
    filter: blur(0) !important;
    opacity: 1 !important;
    transform: scale(1) !important;
}

body:has(.rolodex.visible) .contextBadge::before {
    content: "Card Deck";
}

body:has(.controlPanel.expanded) .contextBadge::before {
    content: "Control Panel";
}

body:has(.controlPanel.expanded):has(.ccb1.selected) .contextBadge::after {
    content: "Appearance & Controls";
}

body:has(.controlPanel.expanded):has(.ccb2.selected) .contextBadge::after {
    content: "Backdrop & Live Display";
}

body:has(.controlPanel.expanded):has(.ccb5.selected) .contextBadge::after {
    content: "About PlusUI";
}

.contextBadge::before {
    font-size: 15px;
    content: attr(about);
}

.contextBadge::after {
    font-size: 12px;
    opacity: .7;
    content: attr(ver);
}

.contextBadge .logo {
    width: 30px;
    height: 30px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* box-sizing: border-box; */
    border-radius: 50px;

    background-color: var(--section-input-l);

    position: absolute;
    left: 8px;
}

.contextBadge .logo img {
    width: 18px;
    height: 18px;
    object-position: center;
    object-fit: contain;
    filter: contrast(0) brightness(0);
}

.contextBadge.darkModeOn .logo {
    background-color: var(--section-input-d);
}

.contextBadge.darkModeOn .logo img {
    filter: contrast(0) brightness(100);
}