.rolodex {
    position: absolute;
    /* top: 60px; */

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    margin-top: -40px;
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s, opacity .3s;

    background-color: transparent !important;
    backdrop-filter: none !important;
    border: none !important;
    box-shadow: none !important;
}

/* .rolodex.md {
    transition: 0 !important;
} */

.rolodex.visible {
    z-index: 50;
    transform: scale(1);
    opacity: 1;
    pointer-events: unset;
}

.roloCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.roloCardInfo::before {
    content: attr(data-sectName);
    font-size: 32px;
    font-weight: 700;

    /* position: fixed; */
    /* top: 60px; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: max-content;
    /* transform: translateX(-50%); */
}

.rolodex.empty .roloCardInfo::before {
    top: 100px;
}

.roloCardInfo::after {
    content: attr(data-cardDesc);
    font-size: 13px;
    font-weight: 500;
    opacity: .75;

    /* position: fixed; */
    /* top: 100px; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: max-content;
    /* transform: translateX(-50%); */
}

.rolodex.empty .roloCardInfo::after {
    /* top: 130px; */
}

.infoChips {
    display: flex;
    gap: 5px;

    width: max-content;
}

.infoChips .infoChip {
    width: fit-content;
    height: fit-content;

    box-sizing: border-box;
    padding: 3px;
    padding-right: 10px;

    background-color: #eee;
    box-shadow: 0 3px 7px #00000022;

    border-radius: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

body:has(.darkModeOn) .infoChips .infoChip {
    background-color: #222;
}

.infoChips .infoChip i {
    width: 33px;
    height: 25px;
    border-radius: 30px;
    color: #eee;

    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.infoChips .infoChip[avail="n"] i {
    background-color: #d93d3d;
}

.infoChips .infoChip[avail="y"] i {
    background-color: #26a426;
}

.infoChips .infoChip::after {
    content: attr(infoType);
    font-size: 12px;
    font-weight: 500;
}

.roloCardOptions::after {
    content: attr(avail);
    font-size: 12px;
    opacity: .5;
}

.cbSect {
    width: 90px;
    height: 140px;
    padding: 15px;

    display: flex;
    align-items: center;
    position: relative;

    border-radius: 12px;

    gap: 15%;
    padding: 10px 120px 10px 120px;
    /* margin-top: 170px; */

    transform: scale(1.2);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    mask-image: linear-gradient(to left, transparent, black, black, black, black, transparent);

    pointer-events: none;
}

.cbSect .card {
    scroll-snap-align: center;
    pointer-events: none;
}

.cbSect .card:not(.hoveredCard) {
    opacity: .5;
    transform: scale(.7) !important;
}

.cbSect .card.hoveredCard {
    opacity: 1;
    transform: none !important;
}

.rolodex.empty .moveCtrls {
    display: none;
}

.addBtn,
.rssBtn {
    background-color: #26a426;
    color: white;

    width: max-content;
    height: 35px;
    border-radius: 40px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 7px;
    padding: 0 10px;

    font-size: 14px;
    transition: .2s;
}

.addBtn:hover,
.mvCtrl:hover,
.rssBtn:hover {
    background-color: white !important;
    color: black !important;
}

.addBtn:active,
.rssBtn:active {
    transform: scale(.9);
}

.rssBtn {
    right: 80px;
}

.addBtn {
    width: 35px !important;
    padding: 0;
}

.addBtn:hover {
    padding: 0 10px;
    width: 45px !important;
}

.addBtn::after {
    content: 'Add';
    width: fit-content;
    overflow: hidden;
    max-width: 0;
    margin-left: -7px;
    transition: .2s;
}

.addBtn:hover::after {
    max-width: 100px;
    margin-left: 0;
}

/* Move controls */

.moveCtrls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: auto;

    /* position: absolute; */
    /* bottom: -10px; */
}

.mvCtrl {
    background-color: rgba(255, 255, 255, 0.75);

    width: 50px;
    height: 35px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    position: relative;

    font-size: 15px;
    transition: .2s;
    /* padding-bottom: 2px; */
}

.rolodex.darkModeOn .moveCtrls .mvCtrl {
    background-color: rgba(34, 34, 34, 0.75);
}

.mvCtrl::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    border-radius: inherit;
    background-color: inherit;
    opacity: 0;

    transition: .15s;
}

.mvCtrl:hover::after {
    opacity: 1;
}

.mvCtrl:active {
    transform: scale(.9);
}

/* Category bar */

.categoryBar {
    display: flex;
    flex-direction: column;
    gap: 5px;

    position: fixed;
    left: 14px;

    opacity: 0;
    transform: scale(.8) translateX(-15px);
    filter: blur(10px);

    pointer-events: none;

    transition: .3s;

    padding: 5px;
    border-radius: 16px;
}

body:has(.rolodex.visible) .categoryBar {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1) translateX(0);

    pointer-events: all;
}

.categoryBar .categoryBtn {
    width: 40px;
    height: 40px;
    border-radius: 500px;
    position: relative;

    transition: .15s;
    padding-left: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.categoryBar:hover .categoryBtn {
    width: 140px;
}

.categoryBar .categoryBtn:hover {
    background-color: white !important;
    color: black !important;
    transform: scale(1.075);
}

.categoryBtn.selected i {
    background-color: var(--surface-button-l);
}

body:has(.darkModeOn) .categoryBtn.selected i {
    background-color: var(--surface-button-d);
}

/* .categoryBar:has(.categoryBtn:hover) .categoryBtn.selected i {
    background-color: transparent;
} */

.categoryBar .categoryBtn::after {
    content: attr(data-category);

    opacity: 0;
    font-size: 14px;

    transition: .15s;
}

.categoryBar:hover .categoryBtn::after {
    opacity: 1;
}

.categoryBtn i {
    font-size: 16px;
    position: absolute;
    left: 4px;
    z-index: 2;
    pointer-events: none;
    flex-shrink: 0;

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;

    /* background-color: var(--surface-button-l); */
    /* width: 50%; */
    transition: .125s;
}

.categoryBtn:hover i {
    background-color: var(--surface-button-l) !important;
}

.categoryBar .sep {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: var(--surface-button-l);
}

body:has(.darkModeOn) .categoryBar .sep {
    background-color: var(--surface-button-d);
}