.rolodex {
    width: 500px;
    height: fit-content;

    padding: 7px;
    box-sizing: border-box;

    /* display: NONE; */
    display: flex;
    flex-direction: column;
    gap: 7px;

    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s, opacity .3s;

    position: relative;
}

/* .rolodex.md {
    transition: 0 !important;
} */

.rolodex.visible {
    z-index: 50;
    transform: scale(1);
    opacity: 1;
    pointer-events: unset;
}

.rolodex::before {
    content: attr(data-sectName);
    font-size: 18px;
    font-weight: 500;
    height: 30px;

    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    pointer-events: none;

    position: relative;
    z-index: 50;
}

.rolodex .header {
    width: 100%;
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.rolodexCloseBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 29px;
    height: 29px;

    background-color: inherit;
    border-radius: 50%;

    transition: .15s;

    position: absolute;
    z-index: 100;
    top: 7px;
    right: 7px;
}

.rolodexCloseBtn:active {
    transform: scale(.75);
}

.cbSect {
    width: 90px;
    height: 200px;
    padding: 15px;
    /* box-sizing: border-box; */

    display: flex;
    align-items: center;
    position: relative;

    border-radius: 12px;
    background-color: inherit;
}

.cbs1 {
    gap: 10%;
    padding: 10px 70px 10px 70px;

    /* margin-right: -100px; */

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* scroll-behavior: smooth; */

    pointer-events: none;
}

.cbs2 {
    border-radius: 10px 10px 14px 14px !important;
    height: 20px;
    display: none;
}

.cbSect::before {
    content: attr(data-sectName);
    font-size: 22px;
    font-weight: 500;

    position: fixed;
    top: 60px;
    left: 250px;
    /* transform: translateX(-50%); */
}

.rolodex.empty .cbSect::before {
    top: 100px;
}

.cbSect::after {
    content: attr(data-cardDesc);
    font-size: 13px;
    font-weight: normal;
    opacity: .75;

    position: fixed;
    top: 90px;
    left: 250px;
    margin-right: 20px;
    /* transform: translateX(-50%); */
}

.rolodex.empty .cbSect::after {
    top: 130px;
}

/* fdhsjkfldhsjfkdls */

.cbs1 .card {
    scroll-snap-align: center;
    pointer-events: none;
}

.cbs1 .card:not(.hoveredCard) {
    opacity: .5;
    transform: scale(.7) !important;
}

.cbs1 .card.hoveredCard {
    opacity: 1;
    transform: none !important;
}

.rolodex.empty .addBtn,
.rolodex.empty .moveCtrls {
    display: none;
}

.addBtn,
.rssBtn {
    background-color: rgb(38, 164, 38);
    color: white;
    bottom: 7px;
    right: 7px;

    width: max-content;
    height: 35px;
    border-radius: 40px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 7px;
    padding: 0 10px;

    position: absolute;

    font-size: 14px;
    transition: .2s;
}

.addBtn:hover,
.rssBtn:hover {
    background-color: rgb(60, 190, 60);
}

.addBtn:active,
.rssBtn:active {
    transform: scale(.9);
}

.rssBtn {
    right: 80px;
}

.addBtn {
    width: 35px !important;
    padding: 0;
}

.addBtn:hover {
    padding: 0 10px;
    width: 45px !important;
}

.addBtn::after {
    content: 'Add';
    width: fit-content;
    overflow: hidden;
    max-width: 0;
    margin-left: -7px;
    transition: .2s;
}

.addBtn:hover::after {
    max-width: 100px;
    margin-left: 0;
}

/* Move controls */

.moveCtrls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    position: absolute;
    bottom: 7px;
    left: 245px;
}

.mvCtrl {
    background-color: rgba(255, 255, 255, 0.75);

    width: 50px;
    height: 35px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    position: relative;

    font-size: 15px;
    transition: .2s;
    /* padding-bottom: 2px; */
}

.rolodex.darkModeOn .moveCtrls .mvCtrl {
    background-color: rgba(0, 0, 0, 0.5);
}

.mvCtrl::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    border-radius: inherit;
    background-color: inherit;
    opacity: 0;

    transition: .15s;
}

.mvCtrl:hover::after {
    opacity: 1;
}

.mvCtrl:active {
    transform: scale(.9);
}