.eWinSurface {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 135px - 70px);

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: purple; */
}

.expandableWindow {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;

    width: 300px;
    height: 200px;

    opacity: 0;
    transition: .2s;
    transform: translateY(100px) scale(0.9);
    background-color: transparent !important;
    border: none !important;
    backdrop-filter: none !important;
    /* pointer-events: none;  */

    position: absolute;
    z-index: 9;
    /* overflow: hidden; */
}

body:has(.darkModeOn) .expandableWindow {
    background-color: var(--section-d);
    color: white;
}

.expandableWindow.md {
    transition: 0s !important;
}

.expandableWindow.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0) scale(1);
}

.expandableWindow.closing {
    opacity: 0;
    pointer-events: none;
    transform: translateY(0) scale(0.9);
}

.expandableWindow .grabber {
    width: 80px;
    height: 7px;
    border-radius: 50px;
    background-color: white !important;

    /* position: absolute; */
    /* cursor: pointer; */
    /* bottom: 15px; */
    /* z-index: 10000; */

    box-sizing: border-box;
    transition: .15s;
    /* margin-left: 15px; */
}

.expandableWindow .grabber:hover {
    transform: scale(1.05);
}


.expandableWindow::before {
    content: attr(cardName);
    font-size: 17px;
    font-weight: 600;

    display: none;

    position: absolute;
    z-index: 1;
    top: 8px;
    left: 10px;
}

.expandableWindow .windowOpts {
    height: 30px;
    width: fit-content;
    padding: 0 10px;
    /* position: absolute; */
    /* bottom: 0; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.expandableWindow .windowOpts div {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);
}

.expandableWindow .return {
    width: 7px;
    height: 7px;
    flex-grow: 0;
    background-color: white;
    color: black;
    border-radius: 100px;

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.return i {
    opacity: 0;
    transition: .15s;
}

.expandableWindow .return:hover {
    width: 20px;
    height: 20px;
}

.expandableWindow .return:hover i {
    opacity: 1;
}

.return:active {
    transform: scale(.9);
}

.expandableWindow .card {
    transform: none !important;
    border-radius: 16px !important;
    overflow: hidden;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: calc(100% - 30px);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);

    color: black;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(70px) saturate(6);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    border: 1px solid transparent;
}

body:has(.darkModeOn) .expandableWindow .card {
    background-color: rgba(34, 34, 34, 0.65);
    color: white;
    backdrop-filter: blur(50px) saturate(7);
    border: 1px solid rgba(255, 255, 255, 0.1);
}