.topChromeItems {
    display: flex;
    width: fit-content;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 98;
}

.timeDate {
    font-weight: 500;

    display: flex;
    align-items: center;
    /* gap: 3px; */
    box-sizing: border-box;
    border-radius: 13px 50px 50px 13px;

    max-width: 250px;
    height: 46px;
    overflow: hidden;

    transition: .3s;
    user-select: none;
    transform: scale(1);
    opacity: 1;
}

.timeDate.loaded {
    opacity: 0;
    transform: scale(.9);
    transition: .4s;
}

.timeDate.ccOpen {
    height: 50px;
    border-radius: 50px;
    transform: none !important;
}

body:has(.rolodex.visible) .timeDate {
    max-width: 0px;
    opacity: 0;
    margin-left: -5px;
}

.timeDate:not(.timeDate.ccOpen):hover {
    transform: scale(1.05);
    transition-delay: 0s;
}

.timeDate:active {
    transform: scale(.9) !important;
    transition-delay: 0s;
}

.timeDate.static {
    transform: none !important;
}

.time {
    font-size: 20px;
    font-weight: 400;
    opacity: .75;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;

    /* background-color: orange; */
}

.timeDate.ccOpen .time {
    padding-right: 0;
}

.tdSep {
    height: 25px;
    width: 1px;
    flex-shrink: 0;
    opacity: .5;
    background-color: black;
    display: none;
}

.darkModeOn .tdSep {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: white;
}

.ccButtons {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: orange; */

    height: 100%;
    width: fit-content;
    max-width: 0px;
    opacity: 0;

    margin-left: auto;
    gap: 3px;
    border-radius: 500px;
    overflow: hidden;

    padding: 0;
    margin: 0;

    transition: .2s;
}

.timeDate.ccOpen .ccButtons {
    max-width: 180px;
    margin-right: 3px;
    border-radius: 0px;
    padding-left: 10px;

    opacity: 1;
}

.darkModeOn .ccb {
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgba(255, 255, 255, .75);
}

.ccb {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 42px;
    width: 42px;
    flex-shrink: 0;

    transition: .20s;

    font-size: 20px;

    border-radius: 50px;
    /* background-color: rgba(255, 255, 255, .5); */
    color: rgba(0, 0, 0, .8);
}

.ccb:active {
    transform: scale(.9);
}

.timeDate.ccOpen .ccb.selected,
.timeDate .ccb.dummy {
    background-color: var(--surface-button-l);
}

.timeDate.darkModeOn.ccOpen .ccb.selected,
.timeDate.darkModeOn .ccb.dummy {
    background-color: var(--surface-button-d);
}

.timeDate:has(.ccb:hover) .ccb.selected {
    background-color: transparent;
}

.ccb:hover {
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .75);
}

.ccb.dummy {
    pointer-events: none;
    width: 35px;
    height: 35px;
    font-size: 16px;
    margin-right: 5px;
    overflow: hidden;
}

.timeDate:hover .ccb.dummy {
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .75);
}

.timeDate.ccOpen .ccb.dummy {
    width: 0;
    height: 0;
    margin-right: 0;
}

/* Card deck button */

.rolodexOpen {
    background-color: var(--surface-button-l);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 5px;

    height: 46px;
    width: 46px;
    /* flex-shrink: 0; */

    transition: .2s;

    font-size: 20px;

    border-radius: 50px 13px 13px 50px;
}

.rolodexOpen i {
    transition: .3s;
}

body:has(.rolodex.visible) .rolodexOpen i {
    transform: rotate(135deg);
}

body:has(.rolodex.visible) .rolodexOpen {
    border-radius: 50px;
    pointer-events: all !important;
}

.timeDate.darkModeOn .rolodexOpen {
    background-color: var(--surface-button-d);
    color: rgba(255, 255, 255, .75);
}

body:has(.timeDate.ccOpen) .rolodexOpen {
    opacity: 0;
    filter: blur(10px);
    width: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.rolodexOpen:hover {
    width: 90px;
    height: 45px;
    gap: 8px;

    transform: scale(1.075);
    background-color: rgba(255, 255, 255) !important;
    color: rgba(0, 0, 0, .75) !important;
}

.rolodexOpen:hover::after {
    opacity: .5;
    max-width: 100px;
}

.rolodexOpen::after {
    content: attr(label);
    font-size: 14px;
    transition: .2s;
    width: fit-content;
    max-width: 0;
    opacity: 0;
}

/* Greeting (welcome user) */

.greeting {
    display: flex;
    font-size: 19px;
    font-weight: 500;
    gap: 3px;

    position: absolute;
    top: 20px;

    padding: 10px 20px;
    border-radius: 100px;

    transition: .4s;
    transition-delay: 1s;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
}

.greeting.hidden {
    filter: blur(10px);
    opacity: 0;

    transform: translateY(-70px) scale(.75);
}

.greeting::before {
    content: "Good";
}

.greeting::after {
    content: attr(data-username);
}

/* About button & menu */

.aboutBtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 20px; */

    position: absolute;
    top: 14px;
    left: 14px;
    height: 45px;
    width: fit-content;
    padding-left: 44px;
    padding-right: 14px;
    z-index: 100000;

    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;

    background-color: var(--section-input-l);
    backdrop-filter: blur(50px) saturate(2) !important;
    user-select: none;

    transition: .15s;
    filter: blur(10px);
    opacity: 0;
    transform: scale(.75);
}

.aboutBtn.darkModeOn {
    background-color: var(--section-input-d);
}

.aboutBtn:active {
    transform: scale(.9);
}

.aboutBtn.visible,
body:has(.aboutOpts.visible) .aboutBtn,
body:has(.controlPanel.expanded) .aboutBtn,
body:has(.rolodex.visible) .aboutBtn {
    filter: blur(0) !important;
    opacity: 1 !important;
    transform: scale(1) !important;
}

body:has(.rolodex.visible) .aboutBtn::before {
    content: "Card Deck";
}

body:has(.rolodex.visible) .aboutBtn::after {
    content: "Codename: Rolodex";
}

.aboutBtn::before {
    font-size: 15px;
    content: attr(about);
}

.aboutBtn::after {
    font-size: 12px;
    opacity: .7;
    content: attr(ver);
}

.aboutBtn .logo {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: flex;

    /* box-sizing: border-box; */
    border-radius: 50px;

    background-color: var(--section-input-l);
    background-image: url(favicons/fav@96.png);
    background-size: calc(100% - 12px);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 8px;
}

.aboutBtn.darkModeOn .logo {
    background-color: var(--section-input-d);
}

.aboutOpts {
    width: 320px;
    gap: 0;

    padding: 0 5px;

    user-select: none;
}

.aboutOpts::before {
    display: none !important;
}

.aboutOpts .header {
    width: 100%;
    height: 50px;

    padding: 5px 10px;
    margin: 5px 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    border-radius: 12px;
    background-color: inherit;
}

.aboutOpts .header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.aboutOpts .header #title {
    font-size: 20px;
    height: 20px;
}

.aboutOpts .header #ver {
    font-size: 13px;
    font-weight: 500;

    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100px;

    margin: 0 0 20px 2px;
}

.aboutOpts .header .close {
    display: none;
}

.aboutOpts .aboutText {
    font-size: 13px;
    width: calc(100% - 20px);

    margin: 10px 0 0 0;

    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.aboutOpts .aboutLinks {
    width: fit-content;
    margin: 8px;
    margin-left: 3px;

    display: flex;
    gap: 10px;
}

.aboutOpts .aboutLinks .alink {
    width: 45px;
    background-color: var(--section-input-l);
}

.aboutOpts .aboutLinks .alink i {
    background-color: transparent !important;
}