/* Global Variables */

:root {
    --section-l: rgba(255, 255, 255, .5);
    --section-input-l: rgba(0, 0, 0, 0.075);
    --section-inputBorder-l: rgba(0, 0, 0, .25);

    --section-d: rgba(0, 0, 0, 0.6);
    --section-input-d: rgba(255, 255, 255, 0.2);
    --section-inputBorder-d: rgba(0, 0, 0, .2);
}

.topChrome {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 9;

    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    box-sizing: border-box;

    width: 300px;
    height: calc(100% - 20px);
    padding-top: 80px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    /* background-color: white; */
}

.topChrome .spacer {
    height: 100vh;
    width: 20px;

    scroll-snap-align: start;

    /* background-color: purple; */
}

.topChrome>* {
    flex-shrink: 0;
}

.timeDate {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    pointer-events: none;

    height: fit-content;
    width: 250px;
    padding: 12px 17px;
    overflow: hidden;

    transition: .2s;
    user-select: none;
}

.timeDate:active {
    transform: scale(.95);
}

.time {
    font-size: 33px;
    width: max-content;
}

.date {
    font-size: 20px;
    opacity: .7;
    width: max-content;
}

.td {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    width: min-content;
    font-family: GST-Med;
}

.aboutBtn {
    display: flex;

    position: absolute;
    top: 14px;
    right: 14px;
    padding: 5px 9px;
    z-index: 1000;

    font-size: 12px;
    font-family: GST-Bold;
    opacity: .5;
    border-radius: 500px;

    background-color: var(--surface-sect-l);
    user-select: none;
    cursor: pointer;
}

.aboutBtn.darkModeOn {
    background-color: var(--surface-sect-d);
}

.expandToggle {
    position: absolute;
    bottom: -112px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10 !important;

    width: 30px;
    height: 20px;

    border-radius: 0 0 50px 50px;

    font-size: 12px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.expandToggle.expanded {
    bottom: -22px;
}

.expandToggle i {
    transform: rotate(0);
}

.expandToggle.expanded i {
    transform: rotate(180deg);
    transition: transform .3s;
}

.controlPanel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 5px; */

    position: relative;
    z-index: 1;

    height: fit-content;
    width: 246px;
    min-width: 200px;
    color: inherit;

    padding: 5px 0 5px 0;
    /* pointer-events: none; */
    box-sizing: border-box;

    scroll-snap-align: end;
    margin-top: 10px;

    /* filter: blur(10px); */
    /* opacity: 0; */

    /* transform: translateY(-80%); */
    /* transform-origin: right; */

    transition: transform .3s, filter .3s, opacity .3s;
    transition-timing-function: ease;
}

.controlPanelOptGroup:first-of-type {
    border-radius: 13px 13px 7px 7px;
}

.debugCards {
    border-radius: 7px 7px 13px 13px !important;
}

.shelfOpts.collapse {
    height: 0;
    gap: 0;
    padding: 0;

    margin: 2.5px 0;
}

.shelfOpts {
    overflow: hidden;
    margin: 5px 0;
    transition: .3s;
}

.controlPanelOptGroup {
    width: calc(100% - 10px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--section-l);
    box-sizing: border-box;

    color: inherit;
    border-radius: 7px;
    padding: 35px 10px 10px 10px;
    gap: 5px;

    position: relative;
}

.controlPanel.darkModeOn .controlPanelOptGroup {
    background-color: var(--section-d);
}

.controlPanelOptGroup::before {
    content: attr(data-sect);

    position: absolute;
    top: 10px;
    left: 15px;

    font-family: GSD-Med;
}

.themeOpts .toggles {
    display: flex;
    gap: 5px;
    width: 100%;
}

.button {
    width: 100%;
    height: 30px;
    background-color: var(--section-input-l);
    border-radius: 10px;
    cursor: pointer;

    font-size: 12px;
    color: inherit;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 10px;
}

.controlPanel.darkModeOn .controlPanelOptGroup .toggles .button {
    background-color: var(--section-input-d);
}

.button .btnInner::after {
    content: attr(data-btnLabel);
    padding-left: 4px;
}

.controlPanel .keyTB {
    background-color: var(--section-input-l);
    color: inherit;
    border-radius: 10px;
    font-size: 12px;

    box-sizing: border-box;

    width: 100%;
    height: 30px;
    padding: 0 8px;
    border: 0;
}

.controlPanel.darkModeOn .keyTB {
    background-color: var(--section-input-d);
}

.controlPanel .keyTB::placeholder {
    color: inherit;
    opacity: 0.5;
}

.shelfAlign {
    color: inherit;
    font-size: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;

    position: relative;

    width: fit-content;
    height: fit-content;

    padding: 2px 2px 0 2px;
    width: 100%;
    box-sizing: border-box;
}

.sa-opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.sa-opt input {
    appearance: none;

    position: relative;

    width: 100%;
    height: 25px;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sa-opt.saoC input::before {
    border-radius: 0;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
}

.saoR input::before {
    border-radius: 0 10px 10px 0 !important;
}

.sa-opt input::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;

    border-radius: 10px 0 0 10px;
    border: 1px solid var(--section-inputBorder-l);
    background-color: transparent;
}

.controlPanel.darkModeOn .shelfAlign .sa-opt input::before {
    border: 1px solid var(--section-input-d);
}

.sa-opt input:checked::before {
    background-color: var(--section-input-l);
}

.controlPanel.darkModeOn .shelfAlign .sa-opt input:checked::before {
    background-color: var(--section-input-d);
}

.shelfStyle {
    color: inherit;
}

.shelfStyle select {
    background-color: inherit;
    border: none;
    outline: none;
}

.exps-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.dcExpt {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    background-color: var(--section-input-l);
    border-radius: 10px;

    position: relative;
    box-sizing: border-box;
}

.dcExpt input {
    appearance: none;
    position: absolute;
    left: -2px;

    width: 100%;
    height: 100%;
}

.dcExpt input::before,
.dcExpt input::after {
    content: "";
    height: 30px;
    width: 100%;

    position: absolute;
    z-index: 1;
    cursor: pointer;

    transition: .2s;
}

.dcExpt input::before {
    background: linear-gradient(90deg, rgb(230, 139, 139), transparent);
    left: -2px;
}

.dcExpt input::after {
    background: linear-gradient(90deg, transparent, rgb(107, 174, 106));
    opacity: 0;
    left: 0;
}

.dcExpt input:checked::before {
    opacity: 0;
}

.dcExpt input:checked::after {
    opacity: 1;
}

.dcExpt label {
    position: relative;
    z-index: 2;
    margin-left: 4px;
    pointer-events: none;
}

.controlPanel.darkModeOn .controlPanelOptGroup .dcExpt {
    background-color: var(--section-input-d);
}