body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: GST-Reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.backDrop {
    display: none;
}

.cards.darkModeOn,
.timeDate.darkModeOn,
.controlBtns.darkModeOn,
.expandToggle.darkModeOn,
.shelfCollapseToggle.darkModeOn,
.modal-about.darkModeOn {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    backdrop-filter: blur(50px) saturate(7);

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.topChrome {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;

    width: min-content;
    height: min-content;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.timeDate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    user-select: none;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 16px;

    height: fit-content;
    width: fit-content;
    padding: 13px 25px 13px 20px;
    overflow: hidden;

    transition: .4s;
}

.time {
    font-size: 33px;
    width: max-content;
}

.date {
    font-size: 20px;
    opacity: .7;
    width: max-content;
}

.td {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    width: max-content;
    font-family: GST-Med;
}

.aboutBtn {
    display: flex;

    position: absolute;
    top: 12px;
    right: 12px;
    padding: 7px;

    background-color: inherit;
    color: inherit;
    border-radius: 50%;

    cursor: pointer;
}

.expandToggle {
    position: absolute;
    top: 105px;
    left: 185px;
    z-index: 2;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

    transition: left .4s;
}

.expandToggle.expanded {
    left: -35px;
}

.expandToggle.expanded i {
    transform: rotate(180deg);
}

.expandToggle i {
    transition: transform .3s;
}

.controlBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 7px;

    height: fit-content;
    width: 100%;
    min-width: 180px;

    overflow-y: scroll;

    padding: 15px;
    pointer-events: none;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    opacity: 1;

    transform: translateX(110%);
    /* transform-origin: right; */

    transition: transform .4s, opacity .4s;
    transition-timing-function: ease;
}

.controlBtns.visible {
    transform: scale(1);
    opacity: 1;

    pointer-events: all;

    right: 20px;
}

.controlBtns .toggles {
    display: flex;
    gap: 3px;

    min-height: fit-content;
    width: 100%;
}

.button {
    width: 90px;
    height: 27px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;

    font-size: 14px;
    color: rgb(0, 0, 0);

    padding-left: 8px;
    padding-top: 1px;
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;

    position: relative;
}

.button::before {
    content: attr(data-btnLabel);
    font-size: 10px;
    font-family: GST-Reg;

    position: absolute;
    left: 28px;
}

.button.darkModeOn::before {
    display: initial;
}

.button.darkModeOn {
    background-color: #222222;
    color: white;
}

.inputs {
    display: flex;
}

input[type="number"] {
    width: 40px !important;
}

.controlBtns .keyTB {
    background-color: rgba(14, 14, 14, 0.4);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;

    width: 140px;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.controlBtns .keyTB::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.shelfAlign {
    color: rgb(103, 103, 103);
    font-size: 11px;

    scroll-snap-align: start;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: inherit;
    border-radius: 50px;
    box-sizing: border-box;

    width: 100%;

    padding: 10px 20px;
}

.sa-opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sa-opt input {
    width: 20px;
    height: 20px;

    border: none !important;
}

.debugCards {
    /* Debug cards setting */

    color: rgb(103, 103, 103);
    font-size: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-sizing: border-box;

    padding: 3px 0;
}