body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: GST-Reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.backDrop {
    display: none;
}

.cards.darkModeOn,
.timeDate.darkModeOn,
.controlBtns.darkModeOn,
.expandToggle.darkModeOn,
.shelfCollapseToggle.darkModeOn,
.modal-about.darkModeOn {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    backdrop-filter: blur(50px) saturate(7);

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.topChrome {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    overflow: hidden;

    width: min-content;
    height: min-content;
    padding: 15px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.timeDate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    user-select: none;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 16px;

    height: fit-content;
    width: fit-content;
    padding: 13px 25px 13px 20px;
    overflow: hidden;

    transition: .4s;
}

.time {
    font-size: 33px;
    width: max-content;
}

.date {
    font-size: 20px;
    opacity: .7;
    width: max-content;
}

.td {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    width: max-content;
    font-family: GST-Med;
}

.aboutBtn {
    display: flex;

    position: absolute;
    top: 12px;
    right: 12px;
    padding: 7px;

    background-color: inherit;
    color: inherit;
    border-radius: 50%;

    cursor: pointer;
}

.expandToggle {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 2;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

    transition: left .3s;
}

.expandToggle.expanded i {
    transform: rotate(180deg);
}

.expandToggle i {
    transition: transform .3s;
}

.controlBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;

    height: fit-content;
    width: 100%;
    min-width: 200px;

    padding: 10px 0 0 0;
    pointer-events: none;
    box-sizing: border-box;

    filter: blur(10px);
    opacity: 0;

    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    transform: translateX(110%);
    /* transform-origin: right; */

    transition: transform .4s, filter .3s, opacity .3s;
    transition-timing-function: ease;
}

.controlBtns.visible {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;

    transition: transform .3s, filter .4s, opacity .4s;

    pointer-events: all;
}

.controlBtns .toggles {
    display: flex;
    justify-content: center;
    gap: 5px;

    min-height: fit-content;
    width: 100%;
}

.button {
    width: 88px;
    height: 30px;
    background-color: inherit;
    border-radius: 50px;

    font-size: 14px;
    color: inherit;

    padding-left: 10px;
    padding-top: 1px;
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;

    position: relative;
}

.button::before {
    content: attr(data-btnLabel);
    font-size: 12px;
    font-family: GST-Med;

    position: absolute;
    left: 30px;
}

.button.darkModeOn::before {
    display: initial;
}

.controlBtns .keyTB {
    background-color: inherit;
    color: inherit;
    border-radius: 50px;
    font-size: 12px;
    box-sizing: border-box;

    width: 180px;
    padding: 5px 5px 5px 7px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.controlBtns .keyTB::placeholder {
    color: inherit;
    opacity: 0.5;
}

.shelfAlign {
    color: inherit;
    font-size: 11px;

    scroll-snap-align: start;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;

    box-sizing: border-box;

    position: relative;

    width: 140%;

    padding: 0 5px 0 5px;
}

.sa-opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sa-opt input {
    appearance: none;

    position: relative;

    width: 59px;
    height: 20px;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sa-opt.saoC input::before {
    border-radius: 0;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
}

.saoR input::before {
    border-radius: 0 100px 100px 0 !important;
}

.sa-opt input::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;

    border-radius: 100px 0 0 100px;
    border: 1px solid white !important;
}

.sa-opt input:checked::before {
    background-color: white;
}

.debugCards {
    /* Debug cards setting */

    color: rgb(103, 103, 103);
    font-size: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 140%;

    background-color: inherit;
    border-radius: 6px;
    box-sizing: border-box;

    padding: 3px 0;
}