body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: GST-Reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.backDrop {
    display: none;
}

.surface {
    color: black;

    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(100px) saturate(6);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 16px;

    transition: .4s;
    border: 1px solid transparent;
}

.surface.darkModeOn,
.modal-about.darkModeOn {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    backdrop-filter: blur(50px) saturate(7);

    border: 1px solid rgba(255, 255, 255, 0.1);
}