@font-face {
    font-family: GS-Reg;
    src: url(../../fonts/gs_reg.ttf);
}

@font-face {
    font-family: GS-Med;
    src: url(../../fonts/gs_med.ttf);
}

@font-face {
    font-family: GS-Bold;
    src: url(../../fonts/gs_bol.ttf);
}

@font-face {
    font-family: GST-Reg;
    src: url(../../fonts/gst_reg.ttf);
}

@font-face {
    font-family: GST-Med;
    src: url(../../fonts/gst_med.ttf);
}

@font-face {
    font-family: GST-Bold;
    src: url(../../fonts/gst_bol.ttf);
}

@font-face {
    font-family: GSD-Reg;
    src: url(../../fonts/gsd_reg.ttf);
}

@font-face {
    font-family: GSD-Med;
    src: url(../../fonts/gsd_med.ttf);
}

@font-face {
    font-family: GSD-Bold;
    src: url(../../fonts/gsd_bol.ttf);
}