.override-hidden {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

*:not(textarea) {
    user-select: none !important;
}

/* Card types */

.squareCard {
    width: 90px;
}

.circleCard {
    width: 90px;
    border-radius: 200px;
}

.rectCard {
    width: 180px;
}

.displayNone {
    display: none !important;
}