.override-hidden {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

/* Card types */

.squareCard {
    width: 90px;
}

.circleCard {
    width: 90px;
    border-radius: 200px;
}

.rectCard {
    width: 180px;
}

.card.dbg {
    display: none;
}

.card.dbg.enabled {
    display: flex;
}

.displayNone {
    display: none !important;
}