@media only screen and (max-width: 440px) {
    .tvUI {
        position: absolute;
        top: 0 !important;

        width: 100vw;
        height: 93vh;

        box-sizing: border-box;
    }

    .toggles {
        transform: scale(1.2);
        height: fit-content;
    }

    .fullScreen {
        display: none;
    }

    .timeDate {
        top: 0;
        right: 0;
        border-radius: 0 0 0 20px;
    }

    .shelf {
        padding: 0;
    }

    .cards {
        border-radius: 100px 0 0 100px;

        overflow: scroll;
        bottom: 0;
        left: 0;

        padding: 0;
        padding: 16px 10px 10px 180px;
        user-select: none;

        height: fit-content;
        width: 100vw;
        max-width: 100vw;
    }

    .wallCard {
        left: 0;

        height: 110px;
        width: 160px;
    }

    .active {
        margin: unset;
    }
}

/* Only MOUSE and TOUCHPAD */
@media (hover: hover) and (pointer: fine) {
    ::-webkit-scrollbar {
        display: none;
    }

    .editMode .card.disabled:hover {
        filter: blur(0) grayscale(1);
        transform: scale(.8) !important;
    }
}

/* Only TOUCH SCREENS */

@media (hover: none) and (pointer: coarse) {
    .card {
        transition: .1s;
    }

    .card:active {
        transform: scale(.85) !important;
    }
}