/* Only MOUSE and TOUCHPAD */
@media (hover: hover) and (pointer: fine) {

    .editMode .card.disabled:hover {
        filter: blur(0) grayscale(1);
        transform: scale(.8) !important;
    }

    /* .card:not(.parallax):not(.actionable):hover,
    .card.parallax-disabled:hover {
        margin-bottom: 10px;
    } */

    /* .wallBtn:hover::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .25);
        position: absolute;
    } */
}

/* Only TOUCH SCREENS */

@media (hover: none) and (pointer: coarse) {

    .card {
        transition: .1s;
    }

    .card:not(.shortcutCard):active {
        transform: scale(.85) !important;
    }

    .context-tooltip {
        color: white;
        text-transform: none !important;
        font-size: 11px;
        font-weight: 500;

        opacity: .6;

        position: absolute;
        z-index: 11;
        bottom: 40px;
        left: 20px;
    }

    .cmItem:active {
        transform: scale(.9);
    }
}