.wallCard:hover .wallBtns {
    opacity: 1;
}

/* Only MOUSE and TOUCHPAD */
@media (hover: hover) and (pointer: fine) {
    .topChrome {
        overflow-y: clip !important;
    }

    .editMode .card.disabled:hover {
        filter: blur(0) grayscale(1);
        transform: scale(.8) !important;
    }

    .shelf:hover .shelfLabel {
        opacity: 1;
    }

}

/* Only TOUCH SCREENS */

@media (hover: none) and (pointer: coarse) {

    html,
    body {
        overscroll-behavior-x: none;
    }

    .card {
        transition: .1s;
    }

    .card:not(.shortcutCard):active {
        transform: scale(.85) !important;
    }

    .shelfLabel {
        display: none !important;
    }

    .wallCard .wallBtns {
        opacity: 1 !important;
    }
}