.textCard {
    flex-direction: column;

    font-weight: normal;
    position: relative;
    /* background-color: white; */
}

.textCard:not(.allowDark) {
    background-color: var(--section-l) !important;
    color: black !important;
}

.shelf.darkModeOn .subCards .textCard.allowDark {
    color: white;
}

.textCard.expanded::before {
    height: 0;
}

.textCard.rectCard::before {
    height: 100%;
    z-index: -1;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.textCard::before {
    content: "";
    width: 100%;
    height: 25px;
    flex-shrink: 0;

    position: absolute;
    top: 0;

    background: linear-gradient(to bottom, #FEE064, #FFCB00);
    color: white;

    font-size: 14px;

    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.subCards.plated .textCard::before {
    background: #0000007c;
}

.subCards:not(.darkModeOn).plated .textCard::before {
    background: #ffffff7c;
}

.textCard.rectCard textarea {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    bottom: 4px;
    border-radius: 13px;
}

.textCard.expanded textarea {
    height: calc(100% + 4px);
    width: 100%;
    bottom: -2px !important;
    top: -2px !important;
    border-radius: 13px;
}

.textCard.rectCard textarea,
.textCard.expanded textarea {
    background-color: white;
    color: #000;
}

.textCard.allowDark.rectCard textarea,
.textCard.allowDark.expanded textarea {
    background-color: #222;
    color: #eee;
}

.textCard textarea {
    width: calc(100% - 4px);
    height: calc(100% - 24px);
    border: none;
    resize: none;
    padding: 8px 6px;
    box-sizing: border-box;

    background-color: transparent;
    color: inherit;

    position: absolute;
    bottom: -1px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.5px;

    border-radius: 0 0 16px 16px;
}