.todoCard {
    display: flex;
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 4px;
}

.todoCard .items {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 3px;

    border-radius: 12px;
    overflow: scroll;
}

.todoCard.rectCard .items {
    padding: 0;
    border-radius: 15px;
    overflow: hidden !important;
    flex-wrap: wrap;
}

.todoCard .items .item {
    display: flex;
    position: relative;

    height: 25px;

    background-color: #eee;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px;
}

body:has(.darkModeOn) .todoCard .items .item {
    background-color: #444;
}

.todoCard.rectCard .items .item {
    width: calc(50% - 3px);
}

.item:has(input:checked) {
    opacity: .6;
}

.todoCard .items .item input[type='checkbox'] {
    padding: 0 !important;
    border-radius: 50%;
}

.todoCard .items .item input[type='text'] {
    width: 50px;

    border-radius: 0;
    background-color: transparent;
    border: 2px solid transparent;

    outline: none !important;
}

body:has(.darkModeOn) .item input[type="text"] {
    color: white !important;
}

.todoCard .items .item::after {
    content: "";
    width: 55px;
    height: 1px;

    position: absolute;
    right: 3px;
    bottom: 5px;

    opacity: .5;
    background-color: black;
}

body:has(.darkModeOn) .todoCard .items .item::after {
    background-color: rgb(255, 255, 255);
}