.weatherCard {
    background: linear-gradient(360deg, #0e63d1, rgb(92, 168, 255));
}

.weatherCard.squareCard .tempGroup {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    font-size: 20px;
    gap: 0 !important;
}

.weatherCard.squareCard * {
    transform: none !important;
}

.weatherCard.rectCard #weatherIcon {
    z-index: 21;
    /* position: absolute !important; */
    /* left: 1px; */
}

#weatherIcon {
    height: 48px;
    aspect-ratio: 1/1;

    transition: .2s;
}

.subCards:not(.darkModeOn).plated .weatherCard .temp,
.subCards:not(.darkModeOn).plated .weatherCard>i {
    color: black;
}


#temp {
    flex-shrink: 0;
    transition: .2s;
    color: white;
    font-weight: 600;
}

#temp::after {
    content: attr(feel);
    position: absolute;
    font-weight: 500;

    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: max-content;
    opacity: .75;

    font-size: 15px;
}

.weatherCard.squareCard #temp::after {
    display: none;
}

.weatherCard.rectCard .tempGroup,
.weatherCard.expanded .tempGroup {
    font-size: 25px;
    gap: 10px;

    box-sizing: border-box;
    transform: translateZ(15px);

    margin-top: -15px;

    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
}